* {
  /* font-family: FantasqueSansMono Nerd Font; */
  /* font-family: Computer Modern; */
  font-family: JetBrains Mono;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 0px 0px;
}

#workspaces {

  border-radius: 0.5em;
  /* margin: 0.5rem; */
  /* margin: 0.25rem; */
  /* padding: 0 0.5rem 0 0.5rem; */
  background-color: @surface0;
  /* font-family: Computer Modern; */
}

#workspaces button {
  color: @lavender;
  font-family: Computer Modern;
  border-radius: 0.5rem;
  padding: 0em;
  /* margin: 0.1rem; */
}

#workspaces button.active {
  color: @sky;
  /* border-radius: 1rem; */
}

#workspaces button:hover {
  color: @sapphire;
  /* border-radius: 1rem; */
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#wireplumber,
#custom-lock,
#workspaces
#network
#custom-power {
  background-color: @surface0;
  /* padding: 0.5rem 1rem; */
  /* margin: 0.1rem 0; */
  /* border-color: @maroon; */ 
  /* border-style: solid; */
  border-width: 1px;
  /* padding: 0 0.5rem 0 0.5rem; */
  border-radius: 0.4rem;
  /* margin: 0.25rem 0; */
  /* margin: 0rem; */
  /* padding: 0 0.5rem 0 0.5rem; */
  padding: 0.4em;
}

#clock {
  color: @blue; 
  border-radius: 0px;
  border-width: 1px 0px;
}

#battery {
  color: @green;
  border-radius: 0px 0.4rem 0.4rem 0px;
  margin-right: 1rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
  border-radius: 0.4rem 0px 0px 0.4rem;
  border-width: 1px 0px 1px 1px;
}

#pulseaudio {
  color: @blue;
  border-radius: 0px 0.4rem 0.4rem 0px;
  /* margin-right: 1rem; */
}

#network {
  color: @sky;
  border-radius: 0.4rem 0px 0px 0.4rem;
  /* margin-left: 1rem; */
}

#wireplumber {
  color: @green;
  border-radius: 0px 0.4rem 0.4rem 0px;
  /* margin-right: 1rem; */
  border-width: 1px 1px 1px 0px;
}

#custom-music {
  color: @mauve;
  /* border-radius: 1rem; */
}

#custom-lock {
    border-radius: 0.4rem 0px 0px 0.4rem;
    color: @lavender;
}

#custom-power {
    /* margin-right: 1rem; */
    border-radius: 0px 0.4rem 0.4rem 0px;
    color: @red;
}

#tray {
  /* margin-right: 1rem; */
  border-radius: 0.4rem;
}
